.component {
    background-color: config('colors.grey-darker');
    padding: 10px;
}

.grid {
    width: 100%;
    height: 100%;
}

.list {
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
}

.listItem {
    display: block;
    color: config('colors.white');
    height: auto;
    background-color: config('colors.grey-darker');
    padding: 10px;
    border-radius: 1px;
}

.listItem:nth-child(even) {
    background-color: config('colors.grey-dark');
}

.listItem:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.listItem:last-child {

}