.component {
    background-color: config('colors.blue-darkest');
    padding: 10px;
    margin-left: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.title {
    color: config('colors.pink-dark');
    margin-bottom: 10px;
}