.component {
    margin-bottom: 10px;
    border: 1px solid config('colors.grey');
    border-bottom: 2px solid config('colors.pink-dark');
    background-color: config('colors.white');
}

.component ~.component {
    margin-left: 10px;
}

.title {
    background-color: config('colors.grey-light');
    color: config('colors.grey-darkest');
    margin-bottom: 10px;
    padding: 10px;
}

.titleWithSomething {
    @apply .title;
}