.component {
    background-color: config('colors.teal-dark');
    color: config('colors.white');
}

.component:nth-child(2) {
    background-color: config('colors.blue-dark');
    color: config('colors.white');
}

.component:nth-child(3) {
    background-color: config('colors.pink-dark');
    color: config('colors.white');
}

.component:nth-child(4) {
    background-color: config('colors.orange-dark');
    color: config('colors.white');
}

.titleContainer {
    background-color: transparent;
}