.component {
    @apply .rounded-lg;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid config('colors.pink-dark');
    background-color: config('colors.grey-darkest');
}

.component ~.component {
    margin-left: 10px;
}

.title {
    color: config('colors.pink-dark');
    margin-bottom: 10px;
}

.titleWithSomething {
    @apply .title;
}